<form action="/messages/new-message" method="POST">
    <label for="title">Title: </label>
    <input type="text" id="title" name="title" required placeholder="title" />

    <label for="message">Text: </label>
    <textarea id="message" name="message" required placeholder="message here" rows="3" cols="5"></textarea>

    <input type="submit" value="Add Post" />
</form>