<form action="/log-in" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="usernaame" id="username" required placeholder="username" />


    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required placeholder="password" />


    <input type="submit" value="Log in" />
</form>