<h1>Clubhouse-Odin</h1>
<hr />

<ul>
    <%if(messages&&messages.length>0) {%>
        <% messages.forEach(message=>{%>
            <%if(user) {%>
                <p>Posted by: <%=message.username%></p> at <small><%=message.written_at%></small>
            <%} else {%>
                <p>(log in to see username and time)</p>
            <%}%>
            <li><h3><%=message.text%></h3></li>
        <%})%>
    <%} else {%>
        <p>No Posts Yet!</p>
    <%}%>
</ul>

<%if(!user) {%>
    <button><a href="/sign-up">Sign Up</a></button>
    <button><a href="/log-in">Log in</a></button>
<%} else {%>
    <%if(user.membership) {%>
        <button><a href="/messages/new-message">New Message</a></button>

    <%} else {%>
        <p>Become a member to write a new post</p>
        <button><a href="/membership">Become a member</a></button>
    <%}%>
    <button><a href="log-out">Log out</a></button>
<%}%>