

<ul>
    <%if(messages&&messages.length>0) {%>
        <% messages.forEach(message=>{%>
            <%if(user) {%>
                <p>Posted by: <%=message.username%></p> at <small><%=message.written_at%></small>
            <%} else {%>
                <p>(log in to see username and time)</p>
            <%}%>
            <li><h3><%=message.text%></h3></li>
        <%})%>
    <%} else {%>
        <p>No Posts Yet!</p>
    <%}%>
</ul>

