<form action="/membership" method="POST">
    <label for="upgradeCode">Enter Code to be a member: </label>
    <input type="text" name="upgradeCode" id="upgradeCode" required placeholder="code is 'FREEDOM'" />

    <input type="submit" value="upgrade" />
</form>