<form action="/membership" method="POST">
    <label for="upgrade">Enter Code to be a member: </label>
    <input type="text" name="upgrade" id="upgrade" required placeholder="code is 'FREEDOM'" />

    <input type="submit" value="upgrade" />
</form>