*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*header.ejs*/

header {
    position: fixed;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px 50px;
    background-color: #1B9AAA;
    color: #FFC43D;
}
header > h1 {
    font-weight: lighter;
  font-size: 3rem;
}
nav {
    display: flex;
  gap: 20px;
  flex-direction: row;
}
nav button {
    padding: 5px 8px;
  background-color: #06D6A0;
  border: none;
  font-weight: inherit;
  color: #F8FFE5;
  font-size: 1.5rem;
  border-radius: 8px;

}
nav button:hover {
    font-weight: bold;
    background-color: #EF476F;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
nav button a {
    text-decoration: none;
  color: #F8FFE5;
}

/*footer.ejs*/
footer {
    display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  position: fixed;
  background-color: #1B9AAA;
  color: #FFC43D;
  width: 100vw;
  padding: 10px 20px;
  font-size: 1rem;
}

/*messages.ejs*/
.posts-container {
    padding-top: 140px;
    padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px 30px;
  justify-content: center;
}
.post {
    background-color: #06D6A0;
  padding: 15px 10px;
  border-radius: 10px;
 width: 50%;
  display: flex;
  flex-direction: column;
}
.post-username {
    width: 50%;
    margin-bottom: 20px;
  background-color: #EF476F;
  padding: 5px 10px;
  border-radius: 10px;
}
.username,.no-username {
    display: inline-block;
}
.username {
    display: inline-block;
    color: #F8FFE5;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.153em;
    font-style: normal;
}
.post-text p {
    height: 50px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 10px;
}
